<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql:netflix</property>
        <property name="hibernate.connection.username">netflix_user</property>
        <property name="hibernate.connection.password">netflix</property>

        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="org.example.entity.Account"/>
        <mapping class="org.example.entity.Category"/>
        <mapping class="org.example.entity.Episode"/>
        <mapping class="org.example.entity.Movie"/>
        <mapping class="org.example.entity.Profile"/>
        <mapping class="org.example.entity.Series"/>
        <mapping class="org.example.entity.WatchedMovie"/>
        <mapping class="org.example.entity.WatchedSeries"/>
    </session-factory>
</hibernate-configuration>
